.membership {
    background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("https://2019.isabe.org/content/images/shutterstock34.jpg");
    /* height: 60vh; */
    margin-top: 101px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.member {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
}

.member h1 {
    font-family: 'Marck Script', cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 171.02%;
    margin-top: 15px;
    text-align: justify;
    letter-spacing: 0.05em;
    color: #ffffff;
}
.member h1:after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    margin-top: 10px;
    /* left: 80px; */
    /* top: 857px; */
    background: #885830;
}

.member p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 171.02%;
    text-align: justify;
    letter-spacing: 0.05em;
    color: #000000;
    width: 50vw;
    margin: 50px;
    color: #ffffff;
}
.member span {
    color: #ac6425;
}

button {
    background: #7B1113;
    border-radius: 8px;
    color: #fff;
    border: none;
    /* padding: 10px 20px; */
    font-size: 16px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    /* font-size: 16px; */
    height: 5vh;
    /* line-height: 19px; */
    color: #FFFFFF;
margin-bottom: 30px;
  
  }
  
button:hover {
    background-color: #971a1c;
  }

  @media only screen and (max-width: 798px) {
    .member p {
width: auto;
    }
  }